<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="num1">
    <button>+</button>
    <input type="text" v-on:blur="text" v-model="num2">
    <button v-on:click="calc">=</button>
    <input type="text" v-model="num3">
</div>
</body>
</html>
<script>
    new Vue({
        el:"#app",
        data:{
            num1:"",
            num2:"",
            num3:"",
        },
        methods:{
            calc(){
                this.num3 = parseInt(this.num1)+parseInt(this.num2)
            },
            text(){
                this.num3 = parseInt(this.num1)+parseInt(this.num2)
            }
        }
    })
</script>